:root {
    --ecriture: #000000;
    --fond: #ffffff;
}

body{
    background-image: radial-gradient(circle, #dcdcdc, #e0e0e0, #e3e3e3, #e7e7e7, #ebebeb);
}

.dark-mode {
    background-color: #272727;
    color: #fff;
}

#bvn{
    text-align: center;
}

#premierart{
    background-image: url("./img/WebImg/cryptocurrency.jpg");
}

#sousart{
    margin: auto;
    width: 100px;
}

#disconnect{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}