

body{
    background-image: radial-gradient(circle, #dcdcdc, #e0e0e0, #e3e3e3, #e7e7e7, #ebebeb);
}

#bvn{
    text-align: center;
}

#premierart{
    background-image: url("./img/WebImg/cryptocurrency.jpg");
}

#sousart{
    margin: auto;
    width: 100px;
}

