body {
    text-align: center;
    color: #eb691d;
}

#board {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 360px;
    background-color: rgb(194, 120, 35);
    border: 5px solid #692308;
}

#board img {
    width: 118px;
    height: 118px;
}